{{!< default}}

<div class="small">
	<nav>
		<div>latest posts...</div>
		        {{#foreach posts}}
			    <a href={{url}}>{{title}}</a>
			{{/foreach}}
	</nav>
</div>

<div class="large">
	{{#get "posts" limit="1" filter="slug:about"}}
		{{#foreach posts}}
			<h1>{{title}}</h1>
			<p>{{content}}</p>
		{{/foreach}}
	{{/get}}
</div>