{{!< default}}

<div class="small">
	<nav>
		<div>latest posts...</div>
		        {{#foreach posts}}
			    <a href={{url}}>{{title}}</a>
			{{/foreach}}
	</nav>
</div>

<div class="large">
	{{#foreach pages}}
		<h1>{{title}}</h1>
		<p>{{content}}</p>
	{{/foreach}}
</div>